# --------------------------------------------------------
#                       Self
# --------------------------------------------------------

temp.*
.next/
next-env.d.ts
node_modules/
.idea/

# --------------------------------------------------------
#                       Base
# --------------------------------------------------------

# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
